<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    

</head>
<body>

    <header class="app-header">
        <div class="header-title">
            <h1 class="app-name">スクリーンタイム集計アプリ</h1>
        </div>
        <div class="header-user">
            <span>{{user_name}}</span>
        </div>
    </header>

    <div class="main-container">
        
        <aside class="sidebar">
            <div class="logo-area">
                <h2>App Logo</h2>
            </div>
            <nav class="nav-menu">
                <ul>
                    <li><h2><a href="{{ url_for('stats_global') }}" class="nav-link main">🏠 メインページ</a></h2></li>
                    <li><a href="{{ url_for('personal') }}" class="nav-link">📝データ追加</a></li>
                    <li><a href="{{ url_for('stats_personal') }}" class="nav-link">📊個人集計</a></li>
                    <li><a href="{{ url_for('users_add') }}" class="nav-link">📲新規登録</a></li>
                    <li><a href="{{ url_for('logout') }}" class="nav-link logout">👤 ログアウト</a></li>
                </ul>
            </nav>
        </aside>

        <main class="content-area">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                            <li class="flash-{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <h1>ログイン</h1>
            <form action="{{ url_for('login') }}" method="POST">
                <p>
                    <label for="user_name">ユーザー名：</label>
                    <input type="text" id="user_name" name="user_name" required>
                </p>

                <p>
                    <label for="user_password">パスワード：</label>
                    <input type="password" id="user_password" name="user_password" required>
                </p>

                <button type="submit">ログイン</button>
            </form>
        </main>
    </div>

</body>
</html>