


<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}ユーザー登録</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>

    <header class="app-header">
        <div class="header-title">
            <h1 class="app-name">スクリーンタイム集計アプリ</h1>
        </div>
        <div class="header-user">
            <span>{{user_name}}</span>
        </div>
    </header>

    <div class="main-container">
        
        <aside class="sidebar">
            <div class="logo-area">
                <h2>App Logo</h2>
            </div>
            <nav class="nav-menu">
                <ul>
                    <li><h2><a href="{{ url_for('stats_global') }}" class="nav-link main">🏠 メインページ</a></h2></li>
                    <li><a href="{{ url_for('personal') }}" class="nav-link">📝データ追加</a></li>
                    <li><a href="{{ url_for('stats_personal') }}" class="nav-link">📊個人集計</a></li>
                    <li><a href="{{ url_for('users_add') }}" class="nav-link">📲新規登録</a></li>
                    <li><a href="{{ url_for('logout') }}" class="nav-link logout">👤 ログアウト</a></li>
                </ul>
            </nav>
        </aside>

        <main class="content-area">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <ul class="flash-messages">
                        {% for category, message in messages %}
                            <li class="flash-{{ category }}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <h1>新しいユーザーを追加</h1>
    <ul class="breadcrumb">
        </li><button type="submit"><li><a href="{{ url_for('user_list') }}">ユーザー一覧</a></button>
        <li>ユーザー登録</li>
    </ul>

    <form action="{{ url_for('users_add') }}" method="post">
        <label>ユーザー名: <input type="text" name="user_name" required></label><br>
        <label>パスワード: <input type="password" name="user_password" minlength="6" required></label><br>
        <button type="submit">追加</button>
    </form>
    
        </main>
        
    </div>
    <script
        data-timeout="0"
        data-heartbeat-url="{{ url_for('heartbeat') }}"
        data-heartbeat-interval="120000"
        data-logout-url="{{ url_for('logout') }}"
        data-redirect-url="{{ url_for('login') }}"
        src="{{ url_for('static', filename='auto-logout.js') }}"
    ></script>

</body>
</html>