<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>データ一覧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='base-style.css') }}">
</head>
<body>
    <h1>{{ title }}</h1>
    <ul class="breadcrumb">
        <li><a href="{{ url_for('index') }}">HOME</a></li>
        <li><a href="{{ url_for('user_list') }}">ユーザー一覧</a></li>
    </ul>

    <a href="{{ url_for('users_add') }}">新規ユーザー追加</a>
    
    <table>
        <thead>
            <tr>
                <th>ユーザー名</th>
                <th>パスワード</th>
            </tr>
        </thead>
        <tbody>
            {% for user in items %}
            <tr>
                <td>{{ user.user_name }}</td>
                <td>{{ '•' * (user.user_password|length) }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>